@mixin invisible {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

@mixin unhide {
  position: relative;
  z-index: 0;
  opacity: 1;
  pointer-events: all;
}

.dataTable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  box-sizing: border-box !important;
  border-collapse: collapse !important;

  .btn-csv-export {
    margin-bottom: -34px;
    float: right;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: #eae9ec;
    color: #787993;
    cursor: pointer;
    user-select: none;
    border-radius: 100px;
    padding: 10px 16px;
    border-color: #eae9ec;
    border: none;
    outline: none;
    line-height: inherit;
    z-index: 1;

    &:hover {
      background-color: #474974;
      color: #fff;
      border-color: transparent;
    }
  }

  .dataTables_wrapper {
    input,
    select {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      font-size: 14px;
      font-weight: normal;
      height: 32px;
      width: 250px;
      background-color: transparent;
      margin-bottom: 10px;
    }

    .dataTables_length select {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      height: 34px;
      margin: 0 10px;
      width: auto;
    }

    .dataTables_scroll .dataTables_scrollBody > table > thead > tr > th * {
      display: none;
    }
  }

  .table-responsive {
    table-layout: fixed;

    .link {
      cursor: pointer;
    }

    .filter {
      width: 100%;
      height: 25px;
      margin-top: 5px;
      font-size: 12px;
      padding-left: 5px;
    }

    tr {
      background-color: transparent;
    }

    td,
    th {
      word-wrap: break-word;
      vertical-align: baseline !important;
    }

    tbody tr {
      i {
        display: none;
      }

      &:hover i {
        display: inline-block;
      }

      td {
        &.code {
          font-family: monospace;
          font-size: 0.9em;
        }

        &.nowrap {
          white-space: nowrap;
          overflow: hidden;
        }

        [data-json] {
          position: relative;
          overflow: hidden;

          .clamped {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .full {
            @include invisible;
          }

          .toolbar {
            text-align: right;

            .fa {
              display: inline-block;
              position: relative;
            }
          }

          .toggle {
            display: none;
          }

          .label {
            cursor: pointer;
            user-select: none;
            transition: opacity 0.2s linear;
            opacity: 0.4;

            .fa {
              left: -1px;
            }

            &:hover {
              opacity: 1 !important;
            }
          }

          &:hover .label {
            opacity: 0.65;
          }

          &.is-clamped {
            .toggle {
              display: inline-block;

              .show-less {
                display: none;
              }
            }

            &.show-full {
              .clamped {
                @include invisible;
              }

              .full {
                @include unhide;
              }

              .toggle {
                .show-more {
                  display: none;
                }

                .show-less {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
